/*** Styling for Dark mode ***/
/*Dark Light mode switch*/
.dark-light-mode {
	height: 30px;
	width: 30px;
	background: url(../imgs/theme/dark.svg) no-repeat center;
	display: inline-block;
	margin-top: 2px;
}
.dark-light-mode.dark {
	background: url(../imgs/theme/light.svg) no-repeat center;
}
body.dark  {
	background-color: var(--dark-background);
	color: #adb5bd;
}
.dark a {
	color: var(--dark-color-muted);
}
.dark .header-top {
	border-bottom-color: var(--dark-mutted-border-color);
}
.dark .featured-1 {
	background: #1b1f22;
}
.dark .nav-topbar ul.sub-menu, .main-header .main-nav ul ul.sub-menu {
	background-color: var(--dark-background);
	border-color: var(--dark-mutted-border-color);
}
.dark #sidebar-wrapper {
	background-color: var(--dark-background);
}
.dark .widget-header-2 h5::after {
	background: #bfc5d7;
}
.dark .off-canvas-close i {
	font-size: 24px;
	color: #fff;
}
.dark.open-search-form .main-search-form {
	background-color: var(--dark-background);
}
.dark.open-search-form .main-search-form .form-control {
	background: none;
}
.dark.open-search-form .main-search-form button {
	background: none !important;
	color: #fff;
}
.dark .bg-grey {
	background-color: var(--dark-color-grey) !important;
}
.dark .has-border {
	border: 1px solid var(--dark-mutted-border-color);
}
.dark .main-menu .mega-menu {
	background-color: var(--dark-background);
	border: 1px solid #262c37;
}
.dark .form-control {
	border: 1px solid var(--dark-mutted-border-color);
	background: var(--dark-background);
}
.dark .bg-white {
	background-color: var(--dark-background) !important;
}
.dark .sticky-bar {
	background: var(--dark-background);
}
.dark .post-card-1 {
	border: 1px solid var(--dark-mutted-border-color);
	background: var(--dark-background);
}
.dark .post-card-1 .post-content {
	background: var(--dark-background);
}
.dark .widget-header-1 h5, .dark .widget-header-2 h5 {
	border-bottom: 1px solid var(--dark-mutted-border-color);
}
.dark .pagination-area .page-link, .dark #scrollUp {
	background: #2d3235;
	box-shadow: none;
}
.dark .page-item.active .page-link {
	z-index: 3;
	color: #fff;
	background-color: #0d6efd;
	border-color: #0d6efd;
}
.dark .post-module-1 .post-thumb {
	-webkit-box-shadow: 4px 4px 0 #363c42;
	box-shadow: 4px 4px 0 #363c42;
}
.dark .footer-copy-right {
	border-top: 1px solid var(--dark-mutted-border-color);
}
.dark .widget_tagcloud .tag-cloud-link {
	border: 1px solid var(--dark-mutted-border-color);
	background: var(--dark-mutted-border-color);
}
.dark  .main-search-form .form-control {
	border: 0;
}
.dark  blockquote::before {
	background: var(--dark-mutted-border-color);
}
.dark pre {
	border: 1px solid var(--dark-mutted-border-color);
	background: var(--dark-background);
}
.dark .single-more-articles {
	background: var(--dark-background);
	border: 1px solid var(--dark-mutted-border-color);
}
.dark .entry-meta {
	line-height: 1;
	color: #818899;
}
.dark .author-bio {
	border-bottom: 1px solid var(--dark-mutted-border-color);
}
.dark .post-format-icon {
	background: var(--dark-mutted-border-color);
}
.dark .divider-text-center span {
	background-color: var(--dark-background);
}
.dark .breadcrumb {
	color: #818899;
}
.dark .border-color-1 {
	border-color: var(--dark-mutted-border-color);
}
.dark .border {
	border: 1px solid var(--dark-mutted-border-color) !important;
}
.dark .excerpt {
	color: #adb5bd;
}
.comments-area .comment {
	color: #adb5bd;
}